@page "/Game/EditGame/{id:int}"
@using BlazorAppPWA.Client.Enums
@using BlazorAppPWA.Client.SweetAlert
@using BlazorAppPWA.Shared
@using BlazorAppPWA.Client.Data
@inject HttpClient _client
@inject IJSRuntime js;
@inject localGameStore _localstore;
@inject NavigationManager navigationManager

<PageTitle>Edit Game</PageTitle>

<h3>Edit Game</h3>
<br />
<div class="row">
    <div class="col-sm-6">
        <EditForm Model="@game" OnValidSubmit="onSubmithandler">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputNumber hidden class="form-control" @bind-Value="game.Id" />
            <div class="mb-3">
                <label class="form-label">Game name</label>
                <InputText class="form-control" @bind-Value="game.GameName" />
            </div>
            <div class="mb-3">
                <label class="form-label">Price</label>
                <InputNumber class="form-control" @bind-Value="game.Price" />
            </div>
            <div class="mb-3">
                <label class="form-label">Date Created</label>
                <InputDate class="form-control" @bind-Value="game.CreatedAt" />
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    private Game? game = new();
    private SweetAlertBase _sweetAlertBase;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        _sweetAlertBase = new SweetAlertBase(js);

        try
        {
            //Get data from server if server is offline,then get from indexed db
            var getGameFromServer = await _client.GetFromJsonAsync<Game>($"api/Games/GetGame/{id}");
            if (getGameFromServer != null)
            {
                game = getGameFromServer;
            }
            else
            {
                game = await _localstore.GetGameAsync("serverdata", id);
            }

        }
        catch (HttpRequestException reqex)
        {
            //Get data from indexed db when server is offline
            game = await _localstore.GetGameAsync("serverdata", id);
        }
    }

    private async void onSubmithandler()
    {
        try
        {
            //update if server is online
            var response = await _client.PutAsJsonAsync<Game>($"api/Games/UpdateGame/{id}", game);
            //bool islocalDataUpdated = await _localstore.UpdateGameToLocalAsync("serverdata", game);

            await _sweetAlertBase.DefaultAlertAsync("Congratulations", "You have successfully updated the game.", SweetAlertEnum.SweetAlertIconType.success.ToString());
            navigationManager.NavigateTo("/Game");
        }
        catch (HttpRequestException reqex)
        {
            //update if server is offline
            bool islocalDataUpdated = await _localstore.UpdateGameToLocalAsync("serverdata", game);

            //insert user operations as queries
            string sqlquery = $"update Game set GameName='{game.GameName}',Price='{game.Price}',CreatedAt='{game.CreatedAt}' where Id='{game.Id}'";
            await _localstore.AddUserOperationsAsync("operations", sqlquery);
            await _sweetAlertBase.DefaultAlertAsync("Congratulations", "You have successfully updated the game.", SweetAlertEnum.SweetAlertIconType.success.ToString());
            navigationManager.NavigateTo("/Game");
        }

        
    }

}
